*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

html {
    height: 100%;
  }
  
  body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
    
    display: block;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }
  
  a:focus {
    outline: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
  

  p {
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    display: block;
   
  }
  
  p:last-of-type {
    margin-bottom: 0;
    text-align:left;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
.custom-container {
    padding: 60px 100px;
    max-width: 1920px;
    margin: auto;
  }
 
  .contact-button {
    background: linear-gradient(to right, gold, darkorange);
    color: white;
    --width: 150px;
    --height: calc(var(--width) / 4);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    
  
  }
  
  .contact-button:hover {  
    transform:perspective(300px) rotate(1deg);
    text-shadow: -6px 3px 2px rgba(63, 51, 51, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  }
  
  .contact-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
  }
  
  .contact-button:hover::before {
    left: 100%;
  }

  .common-button{
    padding:10px;
    border-radius:5px;
    font-size: large;
    border-color:#002147;
    
  }
  .common-button:hover{
cursor:pointer;
background-color: rgb(218, 211, 211);
  }