/* General css */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "VAG Rounded Next",sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}


li{
  list-style:none;
}
a{
  text-decoration: none;
}
/* styling top bar */

.top-header-container{

  display: flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
 

}


.top-info ul{
  display: flex; 
  flex-wrap: wrap; 
}
.top-info ul li {
  list-style:none;
  margin-right:30px;
}
.top-info ul li a{
  text-decoration:none;
  color:white;
}
.facebook-icon{
  font-size:25px;
 
}
/* Styling Main header navigation  */
.main-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 10px 15px 30px rgb(0 0 0 / 5%);
  width:100%;

}
.logo-container{
  height: 100px;
  margin-left:120px;
}
.logo-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-nav{
  margin-left:200px;
}
#main-nav ul li {
 margin-left:30px;
  
}

#main-nav a {
  color:black;
  width: 100%;  
  background: white;
  font-family: "Poppins", sans-serif;
  font-size:1 rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.4s;
  text-transform: uppercase;

}
#main-nav a:hover {
  background-color: #005bea ;
  color:white;
}


#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {

  text-align: center;
  position: relative;
  

}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
  top: 0px;

}

.submenu li {
  display: none;
  position: absolute;
  top: 0px;
  z-index:100;
 
}
.sub-menu li {
  padding:20px;
  background-color: black;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  
 
}

.submenu li {
  position: relative;

}

.submenu li:hover .submenu-2 li {
  display: block;
  
}

.submenu-2 li {
  display: none;
}
.submenu-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 150px;
}

.arrow {
  margin-left: 8px;
  color: black;
  font-size: 12px;
}

.connect-with-us{

border-radius:10px;
padding:3px;
background:none;
}
.connect-with-us a{
font-size:17px;
color:black;
font-family: "Poppins", sans-serif;
}

.connect-with-us:hover{
background-color:orange;
border-color:orange;
cursor:pointer;
color:white;

}
.connect-with-us a:hover{
color:white;  
}

/* Styling the mobile navigation sidebar */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:#002147; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #002147;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius:10px;
  display: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main-button {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Styling the slide show */

/* Slideshow container */
.slideshow-container {
  max-width:auto;
  position: relative;
  margin: auto;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.myslides img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Styling cover page */
.cover-page {
  position: relative;
  z-index: -1;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top:130px;
  color: white;
  overflow: hidden;
  background: #1e2cf5;  /* fallback for old browsers */
  background: linear-gradient(rgba(233, 231, 245, 0.8), #699cf0 100%), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-page  h1{
  font-size: 35px;
}


/* Embedding video from youtube and writting about section */

.about-section-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap:30px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.h_iframe {
  position: relative;


}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  .about-content-container{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  .about-content-container h2{
    margin:20px 0;
  }

/* styling the box-container */
.box-container{
  box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
  text-align:center;
  border-radius:10px;
  width:300px;
  margin-bottom:800px;
  position:absolute;
  background-color: white;
  margin-left:50%;
}

.nav-content-heading{
  background-color: #002147;
  color:white;
}
.nav-content{
  margin:20px;
  padding-bottom:10px;
  border-bottom: 1px solid rgb(214 206 206 / 50%);
  
}
.nav-content a {
  color:black;
  
}

/* Styling vision and objective section */

.vision-objective-container{
  display: flex;
  gap:40px;

}

 .vision{
  font-size: 14px;
  letter-spacing: 0.2px;
  height:300px;
  align-items: center;
  border-radius:12px;
  border-color: #002147;
  background-color: #c5c5c524;
} 
.vision-objective-container h2{
  margin:25px;
}
.vision-objective-container p{
  text-align:center;
}
.objective{
  font-size: 14px;
  letter-spacing: 0.2px;

  border-radius:12px;
  border-color: #002147;
  background-color: #c5c5c524;
} 


.icon{
  font-size: 60px;
  color:#002147;
  float:right;
  margin-right:20px;
}

/* Styling the gallery-container */

  .gallery-container{
    margin:0 120px 120px 120px;

  }
  .gallery-heading{
    text-align:center;
    margin:50px;
    padding:30px; 
  }

  .gallery-images{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    
  }
  .gallery-image{
    flex-basis:32%;
  }
  .gallery-image img{
    border-radius: 5%;
  }

.testimonial-heading{
  text-align:center;
  margin:50px;
}

.testimonial-content{
  margin:10px;
}

.testimonial-content-container{

  display:flex; 
  justify-content: space-between;
  align-items:center;
}

.testimonial-content{
 
  box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}
.student-thought{
 
  background-color:#dff1ff;
  height: 200px;
  text-align:center;
  padding:40px;

}
.student-details img{
  width:5rem;
  border-radius:50%;
  display: block;
  margin:auto;
  
}
.student-details p{
text-align:center;

}

/* Styling the Message from founder section  */

.message-founder-container{
  display:flex;

  justify-content: space-between;
  align-items: center;
  margin:120px;
  
  
}
.message-founder-image{

position:relative;

}
.message-founder-image img{
  border-radius:10px;
}
.message-founder-content{
box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
border-radius:10px;
padding:20px;
height: 400px;
max-width:500px;
position: absolute;
margin-left: 600px;
background-color: white;
}
.read-more{
  font-family: 'Courier New', Courier, monospace;
  font-size:15px;
  border-radius:15px;
  padding:10px;
  background-color: white;
  
}

/* Styling the footer section  */

.footer-container{
   display: flex;
  justify-content: space-around;
  align-items:left;
  background-color: #002147;
  color:#cbc7c7;
  gap:10px;
  padding:40px;
}
.footer-logo{
  height:200px;
}

.footer-about{
  max-width:300px;
  color:#cbc7c7;
}

.contact a,.quick-links a,.courses a{
  color:#cbc7c7;
}
.contact{
  margin-right:20px;
}

.copyright,.copyright a{
  text-align:center;
  background-color: #002147;
  color:#cbc7c7;
  padding:10px 0;
}


/* 
Styling IUKL program page  */
/* styling IUKL descriptions */
.iukl-section{
display: flex;

}
.iukl-descriptions{
  margin:120px;
  flex-basis: 40%;
}


/* Styling connect with us form/ contact form  */

.connect-with-us-section{
margin:120px;
}
.connect-with-us-container{
  box-shadow: 10px 15px 30px rgb(0 0 0 / 20%);
  border:none;
}
.connect-with-us-heading{
  text-align:center;
  margin:20px;
  text-transform: uppercase;


}
label{
  text-transform: uppercase;
  margin:20px;
  line-height: 60px;
  font-size:15px;
}

input{
  font-size:15px;
  padding:10px;
}

input ::placeholder{
font-size: 10px ;
}
.submit{
  margin:10px 100px;
  padding: 10px 20px;
  background-color: #86BC42;
  color: #fff;
  font-size:large;
}










