@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700';
/* styling top bar */

.top-header-container{

  display: flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  /* background: linear-gradient(to right, #00c6fb 0%, #005bea 100%); */
  background:#002147;
}

.top-info ul{
  display: flex; 
  flex-wrap: wrap; 
}
.top-info ul li {
  list-style:none;
  margin-right:30px;
  padding: 10px;
}
.top-info ul li a{
  text-decoration:none;
  color:white;
  margin:20px;
}
.facebook-icon{
  font-size:25px;
}
/* Styling Main header navigation  */
#maincontainer{
  
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 10px 15px 30px rgb(0 0 0 / 5%);
  width:100%;

}
.logo-container{
  height: 100px;
  margin-left:120px;
}

#main-nav{  
  margin-left:200px;
}



#main-nav a {
  
  width: 100%;  
  background: white;
  font-family: "Poppins", sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color:black;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-weight: 500;
  position: relative;
  padding: 9px 15px;
  transition: all 0.3s ease;

}
#main-nav a:hover {
  
  /* color: #005bea; */
  color:blue;
}


#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {

  text-align: center;
  position: relative;
  

}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
  top: 0px;

}

.submenu li {
  display: none;
  position: absolute;
  top: 0px;
  z-index:100;
  border-bottom: 1px solid;
  border-color:rgb(179, 175, 175);
 
}
.sub-menu li {
  padding:20px;
  background-color: black;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width:200px;
  
 
}

.submenu li {
  position: relative;
  

}

.submenu li:hover .submenu-2 li {
  display: block;
  
}

.submenu-2 li {
  display: none;
}
.submenu-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100%;
  width:300px;

}

.arrow {
  margin-left: 8px;
  color: black;
  font-size: 12px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.connect-with-us{

border-radius:10px;
padding:3px;
background:none;
}
.connect-with-us a{
font-size:17px;
color:black;
font-family: "Poppins", sans-serif;
}

.connect-with-us:hover{
background-color:orange;
border-color:orange;
cursor:pointer;
color:white;

}
.connect-with-us a:hover{
color:white;  
}

/* Styling the mobile navigation sidebar */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:#002147; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #002147;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius:10px;
  display: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main-button {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Styling the slide show */

/* Slideshow container */
.slideshow-container {
  max-width:auto;
  position: relative;
  margin: auto;
 
 
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}
.myslides:after{
  content: '';
  position: absolute;
  background-image: linear-gradient(
    32deg, rgb(14, 13, 13), rgba(95, 91, 91, 0));
  height: 100%;
  width: 100%;
  top: 0px;
  left:0;
  right: 0;
  margin: auto;
  z-index: 0;


}
.myslides img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* Embedding video from youtube and writting about section */

.about-section-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap:30px;
}

.wrapper {
  width: 400em;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
}

.h_iframe {
  position: relative;


}

.h_iframe .ratio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styling vision and objective section */

.vision-objective-container{
  display: flex;
  gap:40px;

}

.vision-objective-container p{
  text-align:left;
}

.icon{
  font-size: 50px;
  color:#002147;
  float:right;
  margin-right:20px;
}


/* styling gallery cover photo 2 */
.banner-image-section{
  background-image: url(../img/gallery/classrooms/computer-lab.jpg);
  height: 25em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.banner-image-section:after {
  content: '';
  position: absolute;
  background: #1e2cf5;  /* fallback for old browsers */
  background: linear-gradient(rgba(233, 231, 245, 0.8), #699cf0 100%), url("https://ik.imagekit.io/ikmedia/blog/hero-image.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.banner-image-section .custom-container{
  position: relative;
  width: 100%;
  text-align: center;
}
.inner{
  max-width: 1235px;
  display: inline-block;
  text-align: center;
  z-index: 1;
  position: relative;
}
.section-title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding:5px;
 
}

/* Styling the Message from founder section  */
.message-founder-container{
  display: flex;
  flex-direction: row;
  gap:2em;
}
.message-founder-image{
  width:200%;
  height: auto; 
  
}
.message-founder-content{
  box-shadow:10px 15px 30px rgb(0 0 0 / 18%);
  padding: 20px;
}
/* .message-founder-container{
  display:flex;
  align-items: center; 
}

.message-founder-image{
flex-basis:48%;
position:relative;
height: 40em;
}

.message-founder-content{
  flex-basis:40%;
box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
border-radius:10px;
padding:20px;
position: absolute;

background-color: white;
} */

/* styling the box-container */
.box-container{
  box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
  text-align:center;
  border-radius:10px;
  width:300px;
  margin-bottom:800px;
  position:absolute;
  background-color: white;
  margin-left:50%;
}



/* Styling the gallery-container */

.gallery-heading{
  text-align:center;
  margin:30px;
  padding:10px; 
}

.gallery-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-inline: 0 auto;
  
}
.gallery-images a{
  flex-basis:32%;
  box-shadow: 0 3px 5px #000;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}

.gallery-image img{
  border-radius: 5px;
  transition: all 0.2s linear;
  border-style:none;
  vertical-align: middle;
}

.gallery-images a img:hover{
  transform: scale(1.2);
  cursor:pointer;
}

/* Styling the footer section  */

.footer-container{
   display: flex;
  justify-content: space-around;
  align-items:left;
  background-color: #002147;
  color:#cbc7c7;
  gap:10px;
  padding:40px;
}
.footer-logo{
  height:200px;
}

.footer-about{
  max-width:300px;
  color:#cbc7c7;
}

.contact a,.quick-links a,.courses a{
  color:#cbc7c7;
}
.contact{
  margin-right:20px;
}

.copyright,.copyright a{
  text-align:center;
  background-color: #002147;
  color:#cbc7c7;
  padding:10px 0;
}


/* 
Styling IUKL program page  */
/* styling IUKL descriptions */
.iukl-section{
display: flex;

}
.iukl-descriptions{
  margin:120px;
  flex-basis: 40%;
}


/* Styling connect with us form/ contact form  */
  
.contact-container{
  font-family: "Libre Franklin", sans-serif;
display: flex;
gap:80px;
align-items: center;
}
.map{
  flex-basis:50%;
}
.contact-form{
  flex-basis:50%;
  text-align:left;
  
}

.contact-form .form input,.contact-form .form textarea{
  width: 350px;
  padding: 3%;
  margin: 2% ;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.contact-form .form input::placeholder,.contact-form .form textarea::placeholder{
  color:#242424;
}
input ::placeholder{
  font-size: 10px ;
  width: 100px;
  }


  .submit{
    margin:10px 100px;
    padding: 10px 20px;
    background-color: #86BC42;
    color: #fff;
    font-size:large;
  }
 