
/* This is media query for tablets  */
@media screen and (max-width: 1200px){
  
}

/* Media query for mobile */
@media screen and (max-width: 900px){ 
   
    .top-info ul li {
        list-style:none;
        font-size:15px;
        
      }
      #main-nav{
        display: none;
    }
      .openbtn{
        display: unset;
    }
    .logo-container{
        margin-left: 10px;
    }

    .about-section-container{
        flex-wrap:wrap;
    }
    .about-content-container{
        margin:15px;
      }
      .footer-container{
          flex-wrap: wrap;
          flex-direction: column;
          padding:50px;
      }
     .footer-logo{
         width:10em;
         height: auto;
     }
     .message-founder-container{
        flex-wrap: wrap;
    }
     
}

@media screen and (max-width: 600px){
    .vision-objective-container{
        flex-wrap: wrap;
    } 
    .gallery-images{
        flex-direction: column;
    }
    .message-founder-image{
        height: 400px;
    }
   .contact-container{
       flex-wrap:wrap;
   }
   .map{
    flex-basis:100%;
  }
  .contact-form{
    flex-basis:100%;
  }

}